common: &common
  adapter: postgresql
  username: user123
  password: password123

development:
  <<: *common
  database: rails_development

test:
  <<: *common
  database: rails_test

production:
  <<: *common
  database: rails_production
