/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
#per-page-show-btn {
    height: 20px;
    line-height: 1rem;
    width: 50px;
    font-size: 0.8rem
}

#per-page-input {
    height: 20px;
    line-height: 1rem;
    padding-top: 2px;
    padding-bottom: 0;
    text-align: right
}

#per-page-label {
    padding-top: 2px;
}

#top-bar-title {
    padding-top: 4px;
    font-size: 1.5rem;
}

#search-bar {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 45px;
}