<div>
  <h2><%= @category.name %> category</h2>
  (<%= @category.books.count %> books)

  <% if @category.books.any? %>
      <ol>
        <%= render @books %>
      </ol>
      <%= will_paginate @books %>
  <% end %>
</div>